@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body{
  font-family: 'Fira Mono', monospace;
  min-height: 100vh;
  overflow-x: hidden;
  padding : 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

#root{
  width: 100%;

}